<div class="backdrop" [class.backdrop-open]="isOpen" (click)="onBackdropClick()"></div>

<div class="drawer" [class.drawer-open]="isOpen">
  <div class="drawer-header">
    <span class="drawer-title">Add New Teacher</span>
    <mat-icon class="close-icon" (click)="onClose()">close</mat-icon>
  </div>

  <form class="drawer-form" (ngSubmit)="onSubmit(teacherForm)" #teacherForm="ngForm">
    <div class="name-row">
      <div class="name-field">
        <label class="field-label">First Name<span class="required-star">*</span></label>
        <div class="field-box">
          <input
            #firstNameInput
            type="text"
            name="firstName"
            [(ngModel)]="teacher.firstName"
            (blur)="capitalizeName('firstName')"
            placeholder="Type your first name"
            class="field-input"
            required
          />
        </div>
      </div>

      <div class="name-field">
        <label class="field-label">Last Name</label>
        <div class="field-box">
          <input
            type="text"
            name="lastName"
            [(ngModel)]="teacher.lastName"
            (blur)="capitalizeName('lastName')"
            placeholder="Type your last name"
            class="field-input"
          />
        </div>
      </div>
    </div>

    <label class="field-label">Email<span class="required-star">*</span></label>
    <div class="field-box">
      <input
        type="email"
        name="email"
        [(ngModel)]="teacher.email"
        placeholder="abc@gmail.com"
        class="field-input"
        required
        email
      />
    </div>

    <div class="name-row">
    <div class="name-field">
  <label class="field-label">
    Contact Number<span class="required-star">*</span>
  </label>

  <div class="field-box">
    <input
      type="tel"
      name="contactNumber"
      [(ngModel)]="teacher.contactNumber"
      placeholder="9876543210"
      class="field-input"
      required
      minlength="10"
      maxlength="10"
      pattern="^[6-9][0-9]{9}$"
      (keydown)="allowOnlyNumbers($event)"
      (input)="onNumberInput($event, 'contactNumber')"
      #contactNumber="ngModel"
    />
  </div>

  <div
    class="slot-error"
    *ngIf="contactNumber.invalid && contactNumber.touched"
  >
    <span *ngIf="contactNumber.errors?.['required']">
      Contact number is required.
    </span>

    <span
      *ngIf="
        contactNumber.errors?.['pattern'] ||
        contactNumber.errors?.['minlength'] ||
        contactNumber.errors?.['maxlength']
      "
    >
      Enter a valid 10-digit mobile number.
    </span>
  </div>
</div>

      <div class="name-field">
  <label class="field-label">
    Aadhar No.<span class="required-star">*</span>
  </label>

  <div class="field-box">
    <input
      type="text"
      name="aadharNo"
      [(ngModel)]="teacher.aadharNo"
      placeholder="e.g. 123408039428"
      class="field-input"
      required
      minlength="12"
      maxlength="12"
      pattern="^[0-9]{12}$"
      (keydown)="allowOnlyNumbers($event)"
      (input)="onNumberInput($event, 'aadharNo')"
      #aadharNo="ngModel"
    />
  </div>

  <div
    class="slot-error"
    *ngIf="aadharNo.invalid && aadharNo.touched"
  >
    <span *ngIf="aadharNo.errors?.['required']">
      Aadhar number is required.
    </span>

    <span
      *ngIf="
        aadharNo.errors?.['pattern'] ||
        aadharNo.errors?.['minlength'] ||
        aadharNo.errors?.['maxlength']
      "
    >
      Aadhar number must contain exactly 12 digits.
    </span>
  </div>
</div>
    </div>

    <label class="field-label">Photo</label>
    <div
      class="upload-box"
      (click)="fileInput.click()"
      [class.has-file]="photoFileName"
    >
      <input
        #fileInput
        type="file"
        accept="image/*"
        (change)="onPhotoSelected($event)"
        class="upload-input-hidden"
      />

       <div class="upload-icon-wrap">
        <span></span>
      </div> 

      <span class="upload-status" *ngIf="photoFileName">
        <mat-icon class="check-icon">check_circle</mat-icon>
        {{ photoFileName }}
        <mat-icon class="remove-photo-icon" (click)="removePhoto($event)">close</mat-icon>
      </span>

      <span class="upload-text" *ngIf="!photoFileName">
        Click to upload photo
      </span>
    </div>

    
    <label class="field-label">Google Meet Link</label>
    <div class="field-box">
      <input
        type="url"
        name="meetLink"
        [(ngModel)]="teacher.googleMeetLink"
        placeholder="https://meet.google.com/xxx-xxxx-xxx"
        class="field-input"
      />
    </div>

    <!-- ===== ADD TIME SLOT ===== -->
    <label class="field-label">Add Time Slot</label>
    <div class="book-slots-row">
      <div class="time-chip-wrapper" #timeDropdownWrapper>
        <div
          class="time-chip"
          [class.active]="activeField === 'start'"
          (click)="toggleTimeDropdown('start', $event)"
        >
          <mat-icon class="clock-icon">schedule</mat-icon>
          <span>   {{ teacher.startTime ? teacher.startTime : 'Select Time' }}</span>
        </div>
        <div
        class="time-dropdown"
        [class.open-up]="openDropdownUp"
        *ngIf="activeField === 'start'"
        (click)="$event.stopPropagation()"
          >

          <div
            class="time-slot"
            *ngFor="let slot of timeSlots"
            [class.selected]="slot === teacher.startTime "
            (click)="selectTime('start', slot)"
          >
            {{ slot }}
          </div>
        </div>
      </div>

      <button type="button" class="add-slot-btn" (click)="addSlot()" [disabled]="!canAddSlot()">
        <mat-icon>add</mat-icon>Add
      </button>
    </div>

    <div class="slot-error" *ngIf="slotError">{{ slotError }}</div>

    <!-- ===== ADDED SLOTS LIST ===== -->
    <div class="added-slots-list" *ngIf="teacher.slots.length > 0">
      <div class="added-slot-item" *ngFor="let slot of teacher.slots; let i = index">
        <!-- <mat-icon class="slot-icon">schedule</mat-icon> -->
        <span class="slot-text">{{ slot.time }}</span>
        <mat-icon class="remove-slot-icon" (click)="removeSlot(i)">close</mat-icon>
      </div>
    </div>
    <!-- ===== END ADD TIME SLOT ===== -->

    <!-- ===== SUBMIT ERROR ===== -->
    <div class="slot-error" *ngIf="submitError">{{ submitError }}</div>
    <button type="submit" class="submit-btn" [disabled]="isSubmitting">
  {{ isSubmitting ? (isEditMode ? 'Updating...' : 'Adding...') : (isEditMode ? 'Update Teacher' : 'Add Teacher') }}
</button>
  </form>
</div>