.logo-wrap {
  text-align: center;
  margin-bottom: 20px;
}

.logo-wrap img {
  max-width: 150px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.welcome-heading {
  font-family: Quicksand;
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 100%;
letter-spacing: -2%;

}

.welcome-subtext {
margin-top: 24px;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
letter-spacing: -1%;
color:#0F172A
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;

  /* font-family: Quicksand;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 100%;
letter-spacing: -1%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto; */
/* color: #0F172A; */


}

.email-wrapper {
  margin-bottom: 24px;
}

.email-wrapper label {
  font-size: 18px;
}
input[type="text"]{
  margin-top: 10px;width: 100%; height: 48px;
  border-radius: 8px; box-sizing: border-box;
   background-color:  #F1F1F1;
    ; font-size: 16px; padding-left: 10px ; border:none
}


button{
  background: linear-gradient(to right, #4687FB, #9050E0);
  width: 100%;
  margin-top: 42px;
  border-radius: 50px; height: 60px; font-size: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

button div{
  display: flex; align-items: center; justify-content: center;
}

div a{

  font-family: Quicksand;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 100%;
letter-spacing: -1%;
text-decoration: underline ;

  text-decoration: underline;
  text-decoration-color: #0F172A;

  margin-right: 10px;
  cursor: pointer;
}
span{
  font-family: Quicksand;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 100%;
letter-spacing: -1%;
color: #4376F6;

}