.logo-wrap {
  text-align: center;
  margin: 20px auto;
}

.gradient-icon {
  background: linear-gradient(90deg, #4F8DFD 0%, #8B5CF6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-size: 60px;
}

.logo-wrap img {
  max-width: 150px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.welcome-heading {
  font-family: Quicksand;
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 100%;
letter-spacing: -2%;

}

.welcome-subtext {
  margin-top: 24px;
  font-family: Quicksand;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: -0.1%;

}


button{
  background: linear-gradient(to right, #4687FB, #9050E0);
  width: 100%;
  margin-top: 42px;
  border-radius: 50px; height: 60px; font-size: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border: none;
font-family: Quicksand;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 100%;
letter-spacing: -0.2%;

}