<div class="logo-wrap">
  <img src="../../../../assets/speakFast-logo.png" alt="Speak Fast's English Academy Logo">
</div>

<h1 class="welcome-heading">Reset Password</h1>
<p class="welcome-subtext">Create a new password for your account.</p>

<form [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit()" >

    <div class="password-wrapper">
    <label style="font-size:18px;">Email</label>
    <div class="position-relative mt-2">
      <input [type]="'text'" class="form-control pe-5" formControlName="email" readonly >
    </div>


  </div>

  <div class="password-wrapper">
    <label style="font-size:18px;">Password</label>
    <div class="position-relative mt-2">
      <input [type]="showPassword ? 'text' : 'password'" class="form-control pe-5"
        placeholder="Enter your password" formControlName="password">
      <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePassword()"></i>
    </div>

            @if (
        confirmPasswordForm.get('password')?.hasError('required') &&
        confirmPasswordForm.get('password')?.touched
        ) {
        <small class="text-danger">
          Field is required
        </small>
        }

        <div *ngIf="password?.dirty && !isPasswordValid()" class="mt-2">

          <small [class.text-success]="hasMinLength()" [class.text-danger]="!hasMinLength()">
            ✔ At least 8 characters
          </small><br>

          <small [class.text-success]="hasUppercase()" [class.text-danger]="!hasUppercase()">
            ✔ Any upper case letter
          </small><br>

          <small [class.text-success]="hasLowercase()" [class.text-danger]="!hasLowercase()">
            ✔ Contains at least one lowercase letter
          </small><br>

          <small [class.text-success]="hasNumber()" [class.text-danger]="!hasNumber()">
            ✔ Contains at least one number
          </small><br>

          <small [class.text-success]="hasSpecialChar()" [class.text-danger]="!hasSpecialChar()">
            ✔ Contains at least one special character
          </small>

        </div>
  </div>

  <div class="password-wrapper">
    <label style="font-size:18px;">Confirm Password</label>
    <div class="position-relative mt-2">
      <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control pe-5"
        placeholder="Enter your password" formControlName="confirmPassword">
      <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="toggleConfirmPassword()"></i>
    </div>
        @if(confirmPasswordForm.get('confirmPassword')?.hasError('required') &&
        confirmPasswordForm.get('confirmPassword')?.touched){
        <small class="text-danger">Field is required.</small>
        }
        @else if (
        confirmPasswordForm.get('confirmPassword')?.hasError('passwordChecking') &&
        confirmPasswordForm.get('confirmPassword')?.dirty
        ) {
        <small class="text-danger">
          Passwords do not match.
        </small>
        }
  </div>



  <button mat-raised-button type="submit" class="btn-login w-100 text-white" >
      @if(!isLoaderOn()){
      Reset Password
      }@else{
        <span class="spinner-border spinner-border-sm me-2"></span>
        Resetting Password
      }
  </button>

</form>